/*Arida Medium*/
@font-face {
    font-family: "Arida-Medium";
    src: url("../fonts/Arida/Arida-Medium.otf");
}
/*Arida Regular*/
@font-face {
    font-family: "Arida-Regular";
    src: url("../fonts/Arida/Arida-Regular.otf");
}
/*Arida Regular Italic*/
@font-face {
    font-family: "Arida-RegularIt";
    src: url("../fonts/Arida/Arida-RegularIt.otf");
}
/*Arida Bold*/
@font-face {
    font-family: "Arida-Bold";
    src: url("../fonts/Arida/Arida-Bold.otf");
}
/*Arida Black*/
@font-face {
    font-family: "Arida-Black";
    src: url("../fonts/Arida/Arida-Black.otf");
}
/*URWForm*/
@font-face {
    font-family: "URWForm-Regular";
    src: url("../fonts/URWForm/URWForm-Regular.otf");
}
body{
    background-color: #ebebca;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
    padding: 0px;
    margin: 0px;

}

h1,h2,h3,h4,h5,h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title-regular{
    font-family: "Arida-Regular";
}
.title-bold{
    font-family: "Arida-Bold";
}

/*fcefyn*/
.title-fcefyn{
    font-family: "URWForm-Regular";
}

.line-colored {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    min-height: 4px;
    z-index: 4;
}
a{
    border-bottom: 2px solid #fff;
}

/*navbar*/
nav{
    margin: 0PX;
    height: 90px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 5;
    width: 100%;
}

.nav-list{
    width: 100%;
    margin-left: 0px;
    display: flex;
    align-content: center;
    justify-content: end;
    list-style: none;
}

.nav-item{
    padding-left: 5px;
}

.nav-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
}

.unsj-logo{
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: start;
}

/*Hero*/

#hero{
    margin-top: 97px;
    height: calc(100vh - 97px);
    overflow: hidden;
}

/*sectiones*/
#instituciones{
    width: 100%;
    background-color: #3b5375;
}

#instituciones h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 70px;
}

.faud:hover{
    transition: all 1s 0s ease;
    background: #ffcd3e;
}

#quienes-somos{
    width: 100%;
    height: 50vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/giphy.gif");
overflow: hidden;
}

#quienes-somos .content{
    background: rgb(59,83,117);
    background: linear-gradient(130deg, rgba(59,83,117,0.7984593495601365) 50%, rgba(255,255,255,0.3) 50%); 
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
}

.overlay {
    fill: #3b5375;
    opacity: 0.8;
    transform: rotateX(180deg);
}


#noticias{
    
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: linear-gradient(-50deg, rgba(59,83,117,0.7984593495601365) 50%, rgba(0,0,0,0) 50%), url("../img/giphy.gif");
    /*background-image: linear-gradient(-50deg, rgba(59,83,117,0.7984593495601365) 50%, rgba(136, 136, 136, 0.46) 50%), url("../img/giphy.gif");*/
    background-image: linear-gradient(-50deg, rgba(59,83,117,0.7984593495601365) 47%, rgba(0,0,0,0.5) 47%), url("../img/giphy.gif");
    overflow: hidden;
    height: 50vh;

}

#noticias .content{
   /* background: linear-gradient(-50deg, rgba(59,83,117,0.7984593495601365) 50%, rgba(0,0,0,0) 50%);*/
    background: linear-gradient(-50deg, rgba(59,83,117,0.7984593495601365) 50%, rgba(255,255,255,0.3) 50%);
    height: 100%;
    width: 100%;
    height: 100%;
    width: 100%;
}

.content .text{
    position: absolute;
width: 25%;
left: 12%;
color: #fff;
transition: transform 0.5s 0.8s, opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
will-change: transform, opacity;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

.text-bottom{
    color: #fff;
    width: 25%;
    float: right;
    margin-right: 100px;
    margin-top: 3%;   
}